## Hotel Cancellation Rate Prediction: Week 2 Progress

In [17]:
# Import Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import ListedColormap, LinearSegmentedColormap
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, roc_auc_score
from sklearn.metrics import classification_report, RocCurveDisplay, ConfusionMatrixDisplay
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

### Initial Data Exploration

In [6]:
df = pd.read_csv('hotel_booking.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

### Initial Data Cleaning

In [18]:
features = ['hotel',
            'lead_time',
            'arrival_date_year',
            'arrival_date_month', 
            'arrival_date_week_number',
            'arrival_date_day_of_month',
            'stays_in_weekend_nights',
            'stays_in_week_nights',
            'adults',
            'children',
            'babies',
            'meal',
            'country',
            'market_segment',
            'distribution_channel',
            'is_repeated_guest',
            'previous_cancellations',
            'previous_bookings_not_canceled',
            'reserved_room_type',
            'assigned_room_type',
            'booking_changes',
            'deposit_type',
            'days_in_waiting_list',
            'customer_type',
            'adr',
            'required_car_parking_spaces',
            'total_of_special_requests'   
]

In [9]:
X = df[features]
y = df['is_canceled']

# Identify categorical columns
categorical_columns = ['hotel', 'arrival_date_month', 'meal', 'arrival_date_year', 
                       'arrival_date_week_number', 'arrival_date_day_of_month', 'country', 'market_segment', 
                       'distribution_channel', 'reserved_room_type', 'assigned_room_type',  'deposit_type', 'customer_type']

# Create dummy variables for the categorical column
dummy_variables = pd.get_dummies(X[categorical_columns], drop_first=True)

# Concatenate dummy variables with the original DataFrame
X = pd.concat([X, dummy_variables], axis=1)

# Drop the original categorical column if needed
X.drop(categorical_columns, axis=1, inplace=True)

# Filling up NA for X with median of the variables
X.fillna(X.median(), inplace=True)

In [10]:
X

,lead_time,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,...,assigned_room_type_H,assigned_room_type_I,assigned_room_type_K,assigned_room_type_L,assigned_room_type_P,deposit_type_Non Refund,deposit_type_Refundable,customer_type_Group,customer_type_Transient,customer_type_Transient-Party
0,342,0,0,2,0.0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,1,0
1,737,0,0,2,0.0,0,0,0,0,4,...,0,0,0,0,0,0,0,0,1,0
2,7,0,1,1,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,13,0,1,1,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,14,0,2,2,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,23,2,5,2,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
119386,102,2,5,3,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
119387,34,2,5,2,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
119388,109,2,5,2,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
119389,205,2,7,2,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [11]:
# Proceed with the train-test split as before
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=21)

# Initialize StandardScaler
scaler = StandardScaler()

# Fit and transform the training data
X_train_scaled = scaler.fit_transform(X_train)

# Transform the test data
X_test_scaled = scaler.transform(X_test)

### Model 1: Logistic Regression

In [12]:
# Initialize logistic regression model with regularization (L2) and a high number of iterations
model = LogisticRegression(penalty='l2', max_iter=100000)

# Fit the logistic regression model on the scaled training data
model.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=100000)

In [13]:
# Get the coefficients and feature names
coefficients = model.coef_[0]
feature_names = X.columns

# Print the coefficients with feature names
print("Coefficients:")
for feature_name, coef in zip(feature_names, coefficients):
    print(f"{feature_name}: {coef}")

Coefficients:
lead_time: 0.6518536451960504
stays_in_weekend_nights: 0.09042201330985537
stays_in_week_nights: 0.12361485729954406
adults: 0.11515850178169373
children: 0.0922756005197902
babies: 0.001805628079201554
is_repeated_guest: -0.16513182227183287
previous_cancellations: 1.8030747420452253
previous_bookings_not_canceled: -0.5443300624359666
booking_changes: -0.2329173322109106
days_in_waiting_list: -0.05260899038601957
adr: 0.3419096898998716
required_car_parking_spaces: -3.9365157831967186
total_of_special_requests: -0.6131099010786598
hotel_Resort Hotel: -0.03860494471972452
arrival_date_month_August: -0.1336407969484827
arrival_date_month_December: -0.00873257101896191
arrival_date_month_February: 0.01795832052821795
arrival_date_month_January: -0.02703027209126809
arrival_date_month_July: -0.16586927420900105
arrival_date_month_June: -0.07183774320780248
arrival_date_month_March: -0.03818854592544436
arrival_date_month_May: -0.025071254268066223
arrival_date_month_November: -0.009832457787080473
arrival_date_month_October: -0.026480779606360253
arrival_date_month_September: -0.1076312204456416
meal_FB: 0.01779874150987999
meal_HB: -0.08633623992389892
meal_SC: 0.06490941223603315
meal_Undefined: -0.08481976016554353
country_AGO: 0.06696870211988702
country_AIA: -0.03403065608107701
country_ALB: -0.006398042644983529
country_AND: 0.06826183579447183
country_ARE: 0.046072960341545954
country_ARG: -0.026273084876179104
country_ARM: -0.009060376883203148
country_ASM: -0.031224741304642763
country_ATA: -0.04344615396512092
country_ATF: -0.03288699598847157
country_AUS: -0.05759923358705298
country_AUT: -0.12028180917167756
country_AZE: -0.002025439459616279
country_BDI: 0.0
country_BEL: -0.14385187734389956
country_BEN: 0.043030124428949816
country_BFA: -0.030718001841332283
country_BGD: 0.003335282506802631
country_BGR: -0.04257959160227417
country_BHR: 0.013368409496660046
country_BHS: 0.0
country_BIH: -0.08236902484191065
country_BLR: 0.0036824507692065477
country_BOL: -0.08863893662259345
country_BRA: -0.01653366845311615
country_BRB: -0.05064915789261103
country_BWA: -0.03011050212134829
country_CAF: -0.04975922221670848
country_CHE: -0.11037276359209183
country_CHL: -0.003970213464924234
country_CHN: 0.0376799609228368
country_CIV: -0.0013885800334572014
country_CMR: -0.09348207421137951
country_CN: -0.08434804207757979
country_COL: 0.0008024420267923499
country_COM: -0.027650515940436136
country_CPV: 0.0032868133122506762
country_CRI: -0.031230765270395602
country_CUB: -0.06750773171067871
country_CYM: -0.0236084279585341
country_CYP: -0.022448978714478447
country_CZE: -0.036667914449782714
country_DEU: -0.3032570418377635
country_DJI: -0.03376352859426349
country_DMA: -0.031493550709604114
country_DNK: -0.06555139158890563
country_DOM: -0.0012909460773973085
country_DZA: -0.014117232926060949
country_ECU: -0.01572771136267722
country_EGY: 0.0016186941317880253
country_ESP: -0.05590326884685932
country_EST: -0.03187837867995582
country_ETH: -0.027437908546135252
country_FIN: -0.08529078290486092
country_FJI: 0.02865157046847898
country_FRA: -0.2728105376307431
country_FRO: -0.004366500387266925
country_GAB: -0.0044333677870666
country_GBR: -0.294965451488572
country_GEO: 0.007215898704146005
country_GGY: 0.062058091014831146
country_GHA: 0.01473269107353801
country_GIB: 0.019723956770225367
country_GLP: 0.043328134398534134
country_GNB: -0.014286721763698888
country_GRC: -0.016349749781482178
country_GTM: -0.05413245426367352
country_GUY: -0.03024255850337157
country_HKG: 0.044341966723996616
country_HND: 0.030983641074222627
country_HRV: -0.018558325305867148
country_HUN: -0.017753134732820895
country_IDN: 0.030632616454571836
country_IMN: 0.03077536686006895
country_IND: -0.01988175851497199
country_IRL: -0.14434075354172227
country_IRN: -0.005459388737125935
country_IRQ: -0.09547998534168735
country_ISL: -0.04121834768859013
country_ISR: -0.01737780571618688
country_ITA: -0.016600246868293082
country_JAM: -0.05405992601770309
country_JEY: 0.07409387637585314
country_JOR: -0.018996880487343777
country_JPN: -0.04738190140528201
country_KAZ: -0.006717874084704577
country_KEN: 0.0022536969187434224
country_KHM: 0.04292489216877858
country_KIR: -0.03201613574084654
country_KNA: -0.031118975421175407
country_KOR: -0.0016106455100595763
country_KWT: 0.0015471276382434198
country_LAO: -0.04416282961300614
country_LBN: -0.009366194542976323
country_LBY: -0.07634953638736668
country_LCA: 0.0
country_LIE: -0.0010811432150014699
country_LKA: -0.052676124924744244
country_LTU: -0.04477459105508509
country_LUX: -0.005311591983065569
country_LVA: -0.02153721774393083
country_MAC: 0.09610316441839498
country_MAR: 0.018168598142595846
country_MCO: -0.002615075309867363
country_MDG: 0.0
country_MDV: 0.014848461453547684
country_MEX: -0.048242692275483966
country_MKD: -0.08726633590865684
country_MLI: 0.0
country_MLT: -0.005910841619106748
country_MMR: -0.024032706507808553
country_MNE: 0.0019885193588400395
country_MOZ: -0.002083192865324143
country_MRT: -0.03289658431081897
country_MUS: -0.00975891927681673
country_MWI: -0.0030520544065454026
country_MYS: -0.018298158017429133
country_MYT: 0.0431096750817134
country_NAM: 0.0
country_NCL: 0.0
country_NGA: 0.021185947974207746
country_NIC: 0.03137675759026311
country_NLD: -0.13907739163333044
country_NOR: -0.06545738641676085
country_NPL: -0.029279390773879987
country_NZL: -0.04245140177958655
country_OMN: -0.0038948300594816763
country_PAK: 0.014802210056647818
country_PAN: -0.07270035197809153
country_PER: -0.017394730006639512
country_PHL: 0.02682438700509577
country_PLW: 0.0
country_POL: -0.07864477335552873
country_PRI: -0.0662807429483402
country_PRT: 0.5256343435834621
country_PRY: -0.06473415925484131
country_PYF: 0.0
country_QAT: 0.011692144502440173
country_ROU: -0.03934599470635875
country_RUS: -0.002029940733494939
country_RWA: -0.04389272497065329
country_SAU: 0.018713530063175884
country_SDN: 0.0
country_SEN: 0.01195050454133072
country_SGP: 0.0070271306520445056
country_SLE: -0.031919997547248224
country_SLV: -0.04387149661462729
country_SMR: -0.02834145445282119
country_SRB: -0.07469407634091475
country_STP: -0.030180188014240647
country_SUR: -0.05340580361307554
country_SVK: -0.0191968748298688
country_SVN: -0.0004068010821337956
country_SWE: -0.09091656034769845
country_SYC: -0.027589193240849175
country_SYR: -0.030144480387888247
country_TGO: -0.030060563654489003
country_THA: 0.006863859567159237
country_TJK: 0.06176186625960568
country_TMP: 0.04472118630917714
country_TUN: 0.0024180482586442704
country_TUR: 0.003064953033398242
country_TWN: -0.010433131082818011
country_TZA: 0.005456246564764649
country_UGA: -0.04148240483788319
country_UKR: 0.003976938475444429
country_UMI: 0.030992096432032882
country_URY: -0.0038420191173832085
country_USA: -0.07747425379683152
country_UZB: 0.01003570173649547
country_VEN: 0.0073031510031179026
country_VGB: 0.030963417498573773
country_VNM: -0.00995243475072649
country_ZAF: 0.006017850432778224
country_ZMB: 0.004158661927086566
country_ZWE: 0.011201048045171087
market_segment_Complementary: 0.01713251851961759
market_segment_Corporate: -0.07837071218603928
market_segment_Direct: 0.015152026861537856
market_segment_Groups: 0.07967672749887011
market_segment_Offline TA/TO: -0.11235138704734698
market_segment_Online TA: 0.652714539355909
market_segment_Undefined: 0.01823854550983917
distribution_channel_Direct: -0.19698811940604322
distribution_channel_GDS: -0.04236499471370306
distribution_channel_TA/TO: -0.11374025443394782
distribution_channel_Undefined: 0.04709070039224669
reserved_room_type_B: 0.07682828397372592
reserved_room_type_C: 0.11023053334105451
reserved_room_type_D: 0.4850269457884641
reserved_room_type_E: 0.5202330920265471
reserved_room_type_F: 0.33552655824463884
reserved_room_type_G: 0.4170598737332992
reserved_room_type_H: 0.12907552914020698
reserved_room_type_L: -0.048045573251645324
reserved_room_type_P: 0.055132058760586994
assigned_room_type_B: -0.11737514910553881
assigned_room_type_C: -0.2129171374917621
assigned_room_type_D: -0.5654841883004824
assigned_room_type_E: -0.5532290256450552
assigned_room_type_F: -0.5003005705329203
assigned_room_type_G: -0.5517841415859626
assigned_room_type_H: -0.17117015205076336
assigned_room_type_I: -0.27238859672757765
assigned_room_type_K: -0.13217284876974178
assigned_room_type_L: 0.0
assigned_room_type_P: 0.055132058760586994
deposit_type_Non Refund: 1.4947385190196902
deposit_type_Refundable: 0.007586881559425593
customer_type_Group: -0.02326320987307538
customer_type_Transient: 0.3793582789878689
customer_type_Transient-Party: 0.09701435273223412

In [14]:
# Predict on the test set
y_pred = model.predict(X_test_scaled)

# Evaluate the model
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.91      0.86     22550
           1       0.81      0.66      0.73     13267

    accuracy                           0.82     35817
   macro avg       0.81      0.78      0.79     35817
weighted avg       0.82      0.82      0.81     35817

### Model 2: Random Forest

In [16]:
from sklearn.ensemble import RandomForestClassifier

# Initialize Random Forest Classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Fit the Random Forest Classifier on the scaled training data
rf_model.fit(X_train_scaled, y_train)

# Predict on the test set
y_pred_rf = rf_model.predict(X_test_scaled)

# Evaluate the Random Forest Classifier
print("Random Forest Classifier:")
print(classification_report(y_test, y_pred_rf))

Random Forest Classifier:
              precision    recall  f1-score   support

           0       0.88      0.93      0.91     22550
           1       0.88      0.79      0.83     13267

    accuracy                           0.88     35817
   macro avg       0.88      0.86      0.87     35817
weighted avg       0.88      0.88      0.88     35817